# -----------------------------------------------------------------------------
# Paths
# -----------------------------------------------------------------------------
ORIGIN=https://localhost:3000

# Absolute path to dataset data directory (thumbnails, zips, etc).
STATIC_FILES_DIRECTORY=

# -----------------------------------------------------------------------------
# Database config
# -----------------------------------------------------------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mlrepo
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mlrepo

#------------------------------------------------------------------------------
# Auth config
#------------------------------------------------------------------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

AUTH_SECRET=
AUTH_TRUST_HOST=true
AUTH_URL=

#------------------------------------------------------------------------------
# Google credentials
#------------------------------------------------------------------------------
GOOGLE_EMAIL=
GOOGLE_REFRESH_TOKEN=

# Absolute file path to Google Analytics credentials.
GOOGLE_APPLICATION_CREDENTIALS=

#------------------------------------------------------------------------------
# Semantic Scholar
#------------------------------------------------------------------------------
SEMANTIC_SCHOLAR_API_KEY=

#------------------------------------------------------------------------------
# EZID credentials for DOI registration
#------------------------------------------------------------------------------
EZID_USERNAME=
EZID_PASSWORD=
EZID_SHOULDER=

#------------------------------------------------------------------------------
# Environment
#------------------------------------------------------------------------------
NODE_ENV=development

# -----------------------------------------------------------------------------
# Deployment
# -----------------------------------------------------------------------------
CONTAINERS_DIRECTORY=
