# -----------------------------------------------------------------------------
# Paths
# -----------------------------------------------------------------------------
BASE_URL=https://archive.ics.uci.edu

# Absolute path to dataset data directory (thumbnails, zips, etc).
STATIC_FILES_ROOT=

# -----------------------------------------------------------------------------
# Database config
# -----------------------------------------------------------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mlrepo
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mlrepo

#------------------------------------------------------------------------------
# Auth config
#------------------------------------------------------------------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

AUTH_SECRET=
AUTH_TRUST_HOST=http://localhost:3000

#------------------------------------------------------------------------------
# Google credentials
#------------------------------------------------------------------------------
GOOGLE_EMAIL=

# Absolute file path to Google Analytics credentials.
GOOGLE_APPLICATION_CREDENTIALS=

# OAuth tokens for Nodemailer.
GOOGLE_ACCESS_TOKEN=
GOOGLE_REFRESH_TOKEN=

#------------------------------------------------------------------------------
# EZID credentials for DOI registration
#------------------------------------------------------------------------------
EZID_USERNAME=
EZID_PASSWORD=
EZID_SHOULDER=

#------------------------------------------------------------------------------
# Environment
#------------------------------------------------------------------------------
NODE_ENV=development

# -----------------------------------------------------------------------------
# Deployment
# -----------------------------------------------------------------------------
DATALAB12_CONTAINERS=
