# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
.pnpm-debug.log*

# env
.env*
!.env.example

# credentails
credentials.json

# typescript
*.tsbuildinfo
next-env.d.ts

# jetbrains
.idea

# legacy
/legacy/db/*.sql
!/legacy/db/migrate.sql
/legacy/db/output
/legacy/files/ignored
/legacy/files/output
/legacy/files.*
