.rich {
  &:focus {
    outline: none;
  }
}

.rich code {
  font-family: monospace;
  padding: 3px;
  display: flex;
  width: 100%;

  @apply bg-muted;
}

.rich blockquote {
  border-left: 2px solid;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  font-style: italic;

  @apply border-border text-muted-foreground;
}

.rich table {
  border-collapse: collapse;
}

.rich td {
  padding: 10px;
  border: 2px solid;

  @apply border-border;
}

.rich ol {
  list-style-type: decimal;
  padding-inline-start: 40px;
}

.rich ul {
  list-style-type: disc;
  padding-inline-start: 40px;
}

.rich h1 {
  @apply text-xl font-bold;
}

.rich h2 {
  @apply text-lg font-bold;
}

.rich [contenteditable="false"] {
  top: 8px !important;
}
