@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 84%;
    --accent-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0, 0%, 40%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --positive: 114 49% 41%;
    --uci-blue: 209 100% 24%;
    --uci-blue-foreground: 0 0% 98%;
    --uci-gold: 48 99% 51%;
    --uci-gold-foreground: 0 0% 9%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 4%;
    --chart-1: 2 76% 61%;
    --chart-2: 3 58% 39%;
    --chart-3: 7 37% 24%;
    --chart-4: 3 74% 66%;
    --chart-5: 7 87% 67%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --link: 196 100% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 90%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 12%;
    --secondary: 0 0% 16%;
    --secondary-foreground: 0 0% 90%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 90%;
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 67%;
    --destructive: 0 62.8% 52%;
    --destructive-foreground: 0 0% 98%;
    --positive: 114 49% 41%;
    --uci-blue: 209 100% 32%;
    --uci-blue-foreground: 0 0% 90%;
    --uci-gold: 48 99% 51%;
    --uci-gold-foreground: 0 0% 9%;
    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 90%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --link: 196 100% 35%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.lift {
  @apply ease-out hover:scale-[1.005] hover:shadow-md;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lift-lg {
  @apply lift hover:shadow-lg;
}

.content-x {
  @apply max-w-screen-2xl px-6 sm:px-10;
}

.content {
  @apply content-x min-h-screen w-full pb-24;
}

.hide-inactive [data-state="inactive"] {
  @apply hidden;
}

.prose {
  font-family: "Inter", sans-serif;
}
